.articles {
  padding: 130px 0 110px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .articles {
    display: flex;
  }
}

.articles-item {
  background-color: $articles-item-bg;
  margin: 0 0 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .articles-item {
    margin: 0 20px 0;
  }

  .articles-item:first-child {
    margin: 0 20px 0 0;
  }

  .articles-item:last-child {
    margin: 0 0 0 20px;
  }
}

.articles-item-text {
  padding: 10px 20px 20px;
}

.articles-item-text-header {
  color: $accent-color;
}


/* Hero unit */
.hero-unit {
  text-align: center;
  background: url('../../images/top-tlo.jpg') center center;
  padding: 70px 6%;
}

@media (min-width: 1024px) {
  .hero-unit {
    padding: 150px 6%;
  }
}

.hero-unit-header {
  color: $hero-header-color;
  font-weight: 300;
  font-size: 3.25em;
  line-height: 1.5;
}