.site-top {
  height: 60px;
  line-height: 60px;
  background-color: $accent-color;
  text-align: center;
}

.site-top-logo {
  vertical-align: middle;
}

.site-footer {
  text-align: center;
  padding: 20px 0;
}